.buttonHeightFilter {
    width: 160px;
    height: 30px;
    border: none;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
    background-color: rgb(69, 212, 212);
    /* background-image: linear-gradient(to right, #e052a0, #f15c41) !important;; */
}

.buttonHeightFilter:hover {
    background-image: linear-gradient(to right, #6feacd, #6cff93) !important;
}