/* This is css file created from React Leaflet */

.sectionStyle {
    /* Footer change after resizing */
    height: calc(84vh - 10px);
    top: 30px;
}

.mapContainer {
    position: relative;
    z-index: 999;
}

.App {
    font-family: sans-serif;
    text-align: center;
}


/* sizing of map container */
.leaflet-container {
    height: 85vh;
}

.search-container {
    position: absolute;
    padding-top: 5px;
    top: 0.05%;
    right: 0;
    /* left: -0.5%; */
    z-index: 1000;
}

.myFavorites {
    position: absolute;
    padding-top: 5px;
    top: 15%;
    left: 0.3%;
    /* left: -0.5%; */
    z-index: 1000;
}

.deleteDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* font-size: 6px; */
}

.deleteFavorite {
    /* width: 80px;
    height: 30px; */
    text-align: center;
    align-items: center;

    background-color: rgb(189, 4, 4);
    color: rgb(255, 255, 255);
    border: none;
}

.deleteFavorite:hover {
    background-color: rgb(150, 13, 13);
}

.deleteFavorite>span {
    font-size: 18px;
}


.addFavorite {
    display: flex;
    justify-content: center;
    align-items: center;
}

[id="heart"] {
    position: absolute;
    left: -100vw;
}

[for="heart"] {
    color: #aab8c2;
    cursor: pointer;
    font-size: 3em;
    align-self: center;
    transition: color 0.2s ease-in-out;
}

[for="heart"]:hover {
    color: rgb(240, 32, 32);
}


.navigationLinkFavorite {
    color: rgb(216, 47, 47);
    font-size: 30px;

    /* Remove button style */
    background: none;
    border: none;

}

.navigationLinkFavorite:hover {
    color: rgb(180, 29, 29);
}