/* This is css file created from React Leaflet */

.sectionStyle {
    /* overflow: auto;
    z-index: 1;

    height: calc(86vh - 8px);
    top: 30px; */

    /* margin-top: calc(1px + 0.1em);
    margin-bottom: calc(16px + 3em); */
    /* width: 100%; */
    /* padding: 1%;
    padding-top: 50px; */
    /* padding-top: 3%; */
    /* background-color: rgb(234, 234, 234); */

    /* Footer change after resizing */
    height: calc(84vh - 10px);
    top: 30px;
}

.mapContainer {
    position: relative;
    z-index: 999;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

/* * {
    margin: 0;
    padding: 1px;
} */

/* #root {
    height: 100vh;
} */


/* sizing of map container */
.leaflet-container {
    height: 85vh;
}

/* .cluster-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    transform: translate(-25%, -25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
} */

.search-container {
    position: absolute;
    padding-top: 5px;
    top: 0.05%;
    right: 0;
    /* left: -0.5%; */
    z-index: 1000;
}

/* .haveLocationImage {
    cursor: pointer;
} */

/* .notLocationImage {
    cursor: no-drop;
} */
