/* This is css file created from React Leaflet */

.sectionStyle {
    /* Footer change after resizing */
    height: calc(84vh - 10px);
    top: 30px;
}

.mapContainer {
    position: relative;
    z-index: 999;
}

.App {
    font-family: sans-serif;
    text-align: center;
}


/* sizing of map container */
.leaflet-container {
    height: 85vh;
}

.search-container {
    position: absolute;
    padding-top: 5px;
    top: 0.05%;
    right: 0;
    /* left: -0.5%; */
    z-index: 1000;
}
