.container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* padding: 1em;
    margin-bottom: 2em; */
    background-color: rgb(11, 1, 38);
    color: #fff;
}

.logo {
    padding-bottom: 20px;
}