.imageBtn {
    margin-left: 210px;
    padding-left: 2px;
    background: none;
    border: none;
}

.searchContainer {
    width: 270px;
    height: 200px;
    float: left;
    padding-left: 10px;
}

.searchInner {
}

.searchInput {
    width: 194px;
    height: 34px;
    border-radius: 5px;
}

.searchBtn {
    width: 60px;
    height: 36px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: #4b5361;
    border: none;
    font-weight: bold;
}

.searchBtn:hover {
    background-color: rgb(44, 100, 178);;
}

.dropdown {
    width: 184px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding-top: 5px;
    float: left;
}

.dropdownRow {
    padding-left: 10px;

    color: white;
    background-color: #4b5361;
    cursor: pointer;
    text-align: start;
    margin: 1px 0;
}

.dropdownRow:hover {
    background-color: rgb(44, 100, 178);
}

.notFoundField {
    background-color: rgb(162, 249, 216);
    width: 184px;
    height: 30px;
    margin-top: -5px;
    margin-left: 5px;
    float: left;
    border-radius: 10px;
}

.spanNotFound {
    font-size: 18px;
    margin-left: 10px;
}
