.popup {
    background-color: #99e1b9;
    /* background-color: #3ad781; */
    width: 450px;
    padding: 10px 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    z-index: 1000;
    /* font-family: "Poppins", sans-serif; */
}

@media only screen and (max-width: 650px) {
    .popup {
        width: 80%;
        height: 300px;
        overflow: auto;
    }
}

.container {
    padding-bottom: 5px;
}

.closeButton {
    display: block;
    margin: 0 0 1px auto;
    background-color: transparent;
    font-size: 20px;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.closeButton:hover {
    color: red;
}

.popup h2 {
    text-align: center;
    font: italic small-caps bold 26px cursive;
}

.paragraphCookie {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.popup p {
    font-size: 14px;
    text-align: justify;
    margin: 20px 1px;
}

.closeAndShowAllButtons {
    width: 100%;
    display:block;
    position:relative;
    margin-top: 5px;
    text-align: center;
    height: auto;

    /* text-align: center;
    justify-content: center; */
}

.letsGoToAll {
    max-width: 180%;
    max-height: 100%;
    /* width:220px;
    height: 70px; */
    /* font-size: 200%; */
    text-align: center;

    display: block;
    width: 130px;
    border-radius: 10px;
    position: relative;
    top: 0.5rem;
    margin-left: 139px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
    border: none;
}

.letsGoToAll:hover {
    background-color: #18579f;
}

.letsGoClose {
    max-width: 180%;
    max-height: 100%;
    /* width:220px; */
    /* height: 70px;
    font-size: 200%; */
    text-align: center;

    display: block;
    width: 130px;
    border-radius: 10px;
    position: relative;
    top: 0.5rem;
    margin-left: 139px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #a42725;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
    border: none;
}

.letsGoClose:hover {
    background-color: #731a1a;
}

@media only screen and (max-width: 520px) {
    .letsGoToAll {
        margin-left: 100px;
    }
    .letsGoClose {
        margin-left: 100px;
    }
}

@media only screen and (max-width: 530px) {
    .letsGoToAll {
        margin-left: 110px;
    }
    .letsGoClose {
        margin-left: 110px;
    }
}

.table {
    display: flex;
    text-align: center;
    justify-content: center;
    /* margin-left: 10px; */
}

.noFavorite {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.infoForPeeks {
    padding-left: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.infoForPeeksEl {
    padding: 5px;
}

.sortingButton {
    border: none;
    text-decoration: none;
    background: none;
    color: rgb(118, 29, 29);
    font-weight: bold;
}

.sortingButton:hover {
    color: rgb(41, 130, 62);
}

.infoForPeeksElement {
    padding-left: 35px;
    color: rgb(2, 2, 2);
    text-align: center;
    /* border: solid; */
}

.buttonGoTo {
    border: none;
    text-decoration: none;
    background: none;
    color: rgb(81, 13, 241);
    font-weight: bold;
}

.buttonGoTo:hover {
    color: rgb(0, 0, 0)
}

.buttonDelete {
    border: none;
    text-decoration: none;
    background: none;
    color: rgb(198, 52, 52);
    font-weight: bold;
}

.buttonDelete:hover {
    color: rgb(126, 4, 4);
}

.buttonDeleteIcon {
    font-size: 21px;
    padding-bottom: 4px;
}


/* .buttonDeleteIcon {
    background-image:url("../../../public/images/bin.png") ;
} */