.popup {
    background-color: #99e1b9;
    /* background-color: #3ad781; */
    width: 450px;
    padding: 10px 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    z-index: 1000;
    font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 400px) {
    .popup {
        width: 100%;
    }
}

.container {
    padding-bottom: 5px;
}

.closeButton {
    display: block;
    margin: 0 0 1px auto;
    background-color: transparent;
    font-size: 20px;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.closeButton:hover {
    color: red;
}

.popup h2 {
    text-align: center;
}

.paragraphCookie {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.popup p {
    font-size: 14px;
    text-align: justify;
    margin: 20px 1px;
}

.letsGoClose {
    display: block;
    width: 150px;
    position: relative;
    top: 0.5rem;
    margin: auto;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
    border: none;
}

.letsGoClose:hover {
    background-color: #18579f;
}

.table {
    text-align: center;
    margin-left: 39px;
}

.infoForPeeks {
    padding-left: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.infoForPeeksEl {
    padding: 5px;
}

.sortingButton {
    border: none;
    text-decoration: none;
    background: none;
    color: rgb(118, 29, 29);
    font-weight: bold;
}

.sortingButton:hover {
    color: rgb(41, 130, 62);
}

.infoForPeeksElement {
    padding-left: 35px;
    color: rgb(2, 2, 2);
    text-align: center;
    /* border: solid; */
}

.buttonGoTo {
    border: none;
    text-decoration: none;
    background: none;
    color: rgb(81, 13, 241);
    font-weight: bold;
}

.buttonGoTo:hover {
    color: rgb(0, 0, 0)
}

.buttonDelete {
    border: none;
    text-decoration: none;
    background: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.buttonDelete:hover {
    color: #821304;
}